.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    flex: 1;
}

.title {
    font-weight: var(--font-weight-bold);
    text-align: center;
    font-size: 2rem;
}

.description {
    text-align: center;
    line-height: 1.75;
}

@media (min-width: 25rem) {
    .container {
        justify-content: center;
    }
}

@media (min-width: 64rem) {
    .title {
        font-size: 3rem;
        text-align: start;
    }

    .description {
        text-align: start;
    }
}